@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Kategori Düzenleme</h2>

<div class="container">
    <h1>
        Yeni Kategori Ekleme Sayfası <br />
        Hoşgeldiniz
    </h1><br />

    @using (Html.BeginForm("EditCategoryPost", "AdminCategory", FormMethod.Post))
    {
        <div class="form-group">
            @Html.HiddenFor(x => x.CategoryID)
            @Html.Label("Kategori Adı")
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryName)
            <br />
            @Html.Label("Kategori açıklaması")
            @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryDescription)
            <br />
            <button class="btn btn-success">Güncelle</button>
        </div>
    }
</div>
